<?xml version="1.0"?>
<!-- 
    Hinweis: Alternativ zur manuellen Bearbeitung dieser Datei 
    können Sie auch mit dem Webverwaltungstool die Einstellungen 
    für Ihre Anwendung konfigurieren. Verwenden Sie die Option 
    "Website->ASP.NET-Konfiguration" in Visual Studio. Eine 
    vollständige Liste aller Einstellungen und Kommentare befindet 
    sich in "machine.config.comments", im Allgemeinen unter "\Windows\Microsoft.Net\Framework\v2.x\Config". 
-->
<configuration>
	<appSettings>
    <add key="TxtInfoURI" value="http://localhost:2006" />
    <add key="TxtInfoEncodingMode" value="Auto ContentType Charset Fixed"/> <!-- Liste -->
    <add key="TxtInfoFixedEncoding" value=""/>
    <add key="TxtInfoTimeout" value="15000"/> <!-- Ganzzahl größer gleich -1, in ms -->
    <add key="DBTablePrefix" value="" />
    <add key="DBSchema" value="" />
    <add key="DBConnectionString" value="server=localhost;user id=topoleser;database=NodesInfo;port=5432;ssl=true;sslmode=require;commandtimeout=7" />
    <add key="DBTransactionRetries" value="3"/> <!-- Ganzzahl -->
    <add key="TopoGenerousNodeCountEstimation" value="200"/> <!-- nichtnegative Ganzzahl -->
    <add key="TopoVPNConcentrators" value="1"/> <!-- Liste, verkürzte IP-Adressen -->
    <add key="InfoIPShortFormat" value="104 62"/> <!-- Liste -->
    <add key="InfoIPLongParse" value="104 62 1 1"/> <!-- Liste -->
    <add key="ToolGraphviz" value="/usr/bin/neato" />
    <add key="GuiDefaultMaxEtx" value="8.0"/> <!-- Gleitkommazahl -->
    <add key="GuiDefaultFormat" value="png"/>
    <add key="GuiFallbackCulture" value="de-de"/> <!-- Kulturname nach ISO -->
    <add key="GuiCultureRegionCompletion" value="de"/> <!-- Liste, Regionsnamen nach ISO -->
    <add key="GuiDefaultLastSeenGradient" value="1"/> <!-- Gleitkommazahl, in d -->
    <add key="GuiDefaultIpFilter" value="104.62 104.61.246 104.61.250 104.61.251 104.61.252 104.61.253"/> <!-- Liste, zu vervollständigende IP-Adressen -->
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
      Legen Sie beim Kompilieren debug="true" fest, um 
      Debugsymbole in die kompilierte Seite einzufügen. 
      Da dies die Leistung beeinträchtigt, sollte der 
      Wert nur beim Entwickeln auf "True" gesetzt werden.
    -->
  <compilation debug="false">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Mono.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738EB9F132ED756"/></assemblies></compilation>
		<!--
      Der Abschnitt <authentication> ermöglicht die Konfiguration 
      des Sicherheitsauthentifizierungsmodus, mit dem 
      ASP.NET eingehende Benutzer identifiziert. 
    -->
		<authentication mode="Windows"/>
		<!--
      Der Abschnitt <customErrors> ermöglicht die Konfiguration 
      der Vorgehensweise bei unbehandelten Fehlern während 
      der Anforderungsausführung. Insbesondere können 
      Entwickler HTML-Fehlerseiten konfigurieren, die anstelle 
      einer Fehlerstapelüberwachung angezeigt werden.

      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors>
    -->
 <customErrors mode="Off"/>
	</system.web>
</configuration>
